.add-button{
    background-color:chocolate;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}